<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container pt-3 pt-md-5 pb-3">
        <a class="navbar-brand mr-5" href="/">openpnu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
            aria-controls="navbar-menu" aria-expanded="false" aria-label="Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-menu">
            <ul class="navbar-nav">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/members">Members</a>
                </li>
                <li class="nav-itm mx-3">
                    <a class="nav-link text-dark text-right" href="https://github.com/openpnu">
                        <span class="d-md-none mr-3">GitHub</span>
                        <i class="fab fa-github fa-lg"> </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>