html,
body {
    min-height: 100%;
    height: 100%;
    background-color: #eee;
    font-family: 'Nanum+Gothic', sans-serif;
}

.landing {
    background-color: #eeeeee;
    color: #212121;
}

.landing-title {
    font-size: 3.75rem;
    font-family: 'Ubuntu Mono', monospace;
    color: #212121;
}

@media (min-width: 768px) {
    .landing-title {
        font-size: 6em;
    }
}

.landing-description {
    font-size: 1.5rem;
    font-family: 'Nanum+Gothic', sans-serif;
    color: #757575;
}

.landing-one {
    background-color: #424242;
    color: #f5f5f5;
}

.landing-two {
    background-color: #eeeeee;
    color: #212121;
}

.landing-three {
    background-color: #424242;
    color: #f5f5f5;
}

/* about page */
.about {
    width: 0%;
    color: #212121;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    border-right-color: #212121;
    border-right-style: solid;
    border-right-width: 2px;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 768px) {
    .about {
        font-size: 6em;
    }
}

.about-typewriter {
    animation-name: typewriter-about, typewriter-caret;
    animation-duration: 2000ms, 700ms;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, normal;
    animation-timing-function: steps(5), linear;
    animation-fill-mode:forwards;
}

@keyframes typewriter-about {
    0% { width: 0%; }
    100% { width: 100%; }
}

.img-github-avatar {
    width: 64px;
    height: 64px;
}

@media (min-width: 768px) {
    .img-github-avatar {
        width: 128px;
        height: 128px;
    }    
}

.navbar-brand {
    font-size: 1.5rem;
    font-family: 'Ubuntu Mono', monospace;
}

.nav-link {
    font-size: 1.25rem;
}
