html,
body {
    min-height: 100%;
    height: 100%;
    background-color: #eee;
}

.title {
    color: #212121;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    border-right-color: #212121;
    border-right-style: solid;
    border-right-width: 2px;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 768px) {
    .title {
        font-size: 6em;
    }
}

.anim-typewriter {
    animation: typewriter 1100ms 400ms steps(7) 1 normal both,
               typewriter-caret 400ms infinite normal;
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes typewriter-caret {
    from { border-right-color: #212121; }
    to { border-right-color: transparent; }
}