<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    {% if page.title %}
    <title>openpnu • {{ page.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
</head>

<body>
    {{ content }}

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/umd/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>